## In this example, I demonstrate collecting some data (from twitter) and doing a simple analysis.

### Step 1: Import dependencies

In [25]:
import pandas as pd
from google.colab import drive ## allow colab to view files in my google drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### Step 2: Get the first twitter dataset from a csv file
Note, there are some intermediate steps that setup and grant access to the google drive the dataset is on. Omitted for obvious security reasons.

In [0]:
## Read the data with the Pandas data reader
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/tweets.csv')

### Step 3: Let's take a peek at the data. What are the columns?
We care about columns, it's metadata for our data!

In [27]:
for col in df.columns:
  print(col)

contributors
coordinates
created_at
entities
extended_entities
favorite_count
favorited
filter_level
geo
id
id_str
in_reply_to_screen_name
in_reply_to_status_id
in_reply_to_status_id_str
in_reply_to_user_id
in_reply_to_user_id_str
is_quote_status
lang
place
possibly_sensitive
quoted_status
quoted_status_id
quoted_status_id_str
retweet_count
retweeted
retweeted_status
source
text
timestamp_ms
truncated
user

### Step 4: Now let's take a peek at some actual data.
The first five and only five values in fact.

In [19]:
df.head()

   contributors  ...                                               user
0           NaN  ...  {'utc_offset': 3600, 'profile_image_url_https'...
1           NaN  ...  {'utc_offset': None, 'profile_image_url_https'...
2           NaN  ...  {'utc_offset': 7200, 'profile_image_url_https'...
3           NaN  ...  {'utc_offset': None, 'profile_image_url_https'...
4           NaN  ...  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

### Step 5: Now let's determine how many languages are used in the twitter data set.
We'll use a python function that counts the number of languages and how many times they were used.
This is a demonstration of a multi-variable python function that returns two results in a dictionary.

In [21]:
# Create the function. The dataframe and its columns will be the inputs.
def count_entries(df, col_name):

    # Initialize an empty dictionary to hold our results: langs_count
    langs_count = {}
    
    # Extract the column for analysis. Get's the specific column from the function input.
    col = df[col_name]

    # Iterate over the language column in the DataFrame
    for entry in col:
        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1. This adds a new language.
        else:
            langs_count[entry] = 1
    return langs_count

# Call the function to run it. Set the function output to 'results'.
results = count_entries(df, 'lang')

# Show the results in the python dictionary:
print(results)

{'en': 97, 'et': 1, 'und': 2}

Woohoo! English has 97 entries so I can read it. There's also one use of 'ET'(Estonian) and two of 'und' (Unknown. Klingon perhaps?)

### Step 6: Let's extend the function to accept any number columns.
This demonstrates the use of *'args'* in python.

In [34]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

result2 = count_entries(df,'lang','source')


print(result2)

{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}