# Dataframes and Pandas

## 0.0 Import Data. This sheet will use Pennsylvania 2012 election results.

In [6]:
import pandas as pd
election = pd.read_csv('election_penn_2012.csv', index_col='county')
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

## 1.0 Indexing

loc vs iloc

## 2.0 Slicing Dataframes

You can slice rows and column by their named values with "loc."
You can slice rows and column by their integer values with "iloc."

In [9]:
# selecting columns with loc:
left_columns = election.loc[:,'state':'Obama']
left_columns # using {all rows, columns from state to Obama columns}

             state   total      Obama
county
Adams           PA   41973  35.482334
Allegheny       PA  614671  56.640219
Armstrong       PA   28322  30.696985
Beaver          PA   80015  46.032619
Bedford         PA   21444  22.057452
...            ...     ...        ...
Washington      PA   90078  42.744066
Wayne           PA   20966  38.815225
Westmoreland    PA  168709  37.567646
Wyoming         PA   11214  42.910647
York            PA  186394  38.695452

[67 rows x 3 columns]

In [10]:
# selecting the middle columns
middle_columns = election.loc[:,'Obama':'winner']
middle_columns # using {all rows, columns from Obama to winner columns}

                  Obama     Romney  winner
county
Adams         35.482334  63.112001  Romney
Allegheny     56.640219  42.185820   Obama
Armstrong     30.696985  67.901278  Romney
Beaver        46.032619  52.637630  Romney
Bedford       22.057452  76.986570  Romney
...                 ...        ...     ...
Washington    42.744066  56.012567  Romney
Wayne         38.815225  59.768196  Romney
Westmoreland  37.567646  61.306154  Romney
Wyoming       42.910647  55.189941  Romney
York          38.695452  59.860296  Romney

[67 rows x 3 columns]

In [11]:
right_columns = election.loc[:,'Romney':'voters']
right_columns # using {all rows, columns from Romney to voters columns}

                 Romney  winner  voters
county
Adams         63.112001  Romney   61156
Allegheny     42.185820   Obama  924351
Armstrong     67.901278  Romney   42147
Beaver        52.637630  Romney  115157
Bedford       76.986570  Romney   32189
...                 ...     ...     ...
Washington    56.012567  Romney  142331
Wayne         59.768196  Romney   32577
Westmoreland  61.306154  Romney  238006
Wyoming       55.189941  Romney   17255
York          59.860296  Romney  280280

[67 rows x 3 columns]

In [18]:
# subselection of cells within the dataframe
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner','Obama','Romney']

# Create the new DataFrame: three_counties
# the new dataframe consists of the two lists separated by a comma (as opposed to string
# column names when not using lists)
three_counties = election.loc[rows,cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

## 3.0 Filtering Dataframes