# Dataframes and Pandas

## 0.0 Import Data. This sheet will use Pennsylvania 2012 election results.

In [6]:
import pandas as pd
election = pd.read_csv('election_penn_2012.csv', index_col='county')
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

## 1.0 Indexing

loc vs iloc

## 2.0 Slicing Dataframes

You can slice rows and column by their named values with "loc."
You can slice rows and column by their integer values with "iloc."